<h1>Stupid Coaching</h1>
<h3>Ask your coach anything</h3>
<div class="question">
  <form action="/answer" method="get" class="form-group">
    <input type="text" name="question">
    <input type="submit" value="Ask" class="btn">
  </form>
</div>
